:root{
  --biru-latar :#081c5c;
  --kuning-secondary:#d8bf36;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d8bf36;
  top: 50%;
  right: -30px;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: bottom;
}

.sub_page .hero_area {
  height: auto;
  background: none;
  background-color: #041858;
}

.sub_page .footer_bg {
  background: none;
  background-color: #041858;
  padding-top: 45px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #d8bf36;
  color: var(--biru-latar);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}




.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  margin-left: 25px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  background-color:#041c5c;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  padding: 6px 15px;
  margin: 10px 15px;
  background-color: var(--biru-latar);
  border-radius: 5px; 
  text-align: center; /* Memastikan teks di tengah */
  transition: background-color 0.3s ease; /* Animasi perubahan warna */
  margin-top:15px;
  border: 1px solid white ;
  transition: 500ms;
}

.quote_btn-container a {
  color: var(--biru-latar);
  text-decoration: none; /* Hilangkan garis bawah */
  display: block; /* Memastikan area klik menyeluruh */
  color: #ddd;
}

.quote_btn-container:hover {
  background-color: var(--kuning-secondary); /* Warna biru saat hover */
  border: 1px solid white;
 
}


.quote_btn-container a img {
  width: 15px;
  margin: 0 25px;
}
/*end header section*/

/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  color: #3b3a3a;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section div#carouselExampleIndicators {
  width: 100%;
  position: unset;
}

.slider_section .detail_box {
  color: #ffffff;
}

.slider_section .detail_box h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.slider_section .detail_box .btn-box {
  margin: 30px -5px 0 -5px;
}

.slider_section .detail_box .btn-box a {
  width: 145px;
  text-align: center;
  margin: 5px;
}

.slider_section .detail_box .btn-box a.btn-1 {
  display: inline-block;
  padding: 8px 0;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
}

.slider_section .detail_box .btn-box a.btn-1:hover {
  background-color: #e0cd61;
}

.slider_section .detail_box .btn-box a.btn-2 {
  display: inline-block;
  padding: 8px 0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 30px;
}

.slider_section .detail_box .btn-box a.btn-2:hover {
  background-color: white;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .slider_number-container {
  position: absolute;
  top: 8%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .carousel_btn-container {
  width: 95px;
  position: absolute;
  bottom: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 50%;
  z-index: 999;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: #d8bf36;
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #041858;
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/left-angle.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/right-angle.png);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box p {
  margin-top: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
  margin: 25px 0 45px 0;
}

.about_section .detail-box a:hover {
  background-color: #e0cd61;
}

.service_section {
  background-color: #041858;
  color: #ffffff;
  text-align: center;
}

.service_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .service_container {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service_section .service_container .box {
  margin: 25px 28px;
  min-width: 200px;
  width: 250px;
}

.service_section .service_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  background-color: #ffffff;
  border-radius: 15px;
}

.service_section .service_container .box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_section .service_container .box .detail-box {
  margin-top: 15px;
}

.service_section .service_container .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

/* .service_section .service_container .box .detail-box p {
  text-align: justify;
} */

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px; /* Tambahkan jarak antar tombol */
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none; /* Menghapus garis bawah pada link */
  font-size: 16px; /* Ukuran font untuk tombol */
  transition: all 0.3s ease;
  border:1px solid ;
}


.service_section .btn-box a:hover {
  background-color: var(--biru-latar);
  border:1px solid white;
}


/* MODAL KEGIATAN */
.modal-content {
  margin-top: 50px;
}

.modal-body {
  max-height: 70vh; /* Limits the height to 70% of the viewport */
  overflow-y: auto; /* Enables vertical scrolling */
}


.img-box img {
  transition: transform 0.3s ease;
  width: 100%;
}

.service_container .box:hover .img-box img {
  transform: scale(1.05); /* Membesarkan gambar */
}

.box {
  cursor: pointer;
}

.detail-box h5 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}




.work_section .heading_container {
  margin-bottom: 45px;
}

.work_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_section .detail_container .box {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.work_section .detail_container .box .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_section .detail_container .box .top-box .icon-box {
  width: 50px;
  margin-right: 15px;
}

.work_section .detail_container .box .top-box .icon-box img {
  width: 100%;
}

.work_section .detail_container .box .top-box h5 {
  font-weight: 600;
  margin: 0;
}

.work_section .detail_container .box .bottom-box {
  margin-top: 10px;
}

.work_section .img-box img {
  max-width: 100%;
}

.work_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work_section .btn-box a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
}

.work_section .btn-box a:hover {
  background-color: #e0cd61;
}

.team_section {
  text-align: center;
}

.team_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 25px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 0px 85px;
}

.team_section .team_container .box {
  margin: 55px 15px 0px 15px;
  /* min-width: 100px; */
  width: 180px;
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  position: relative;
  
}

.team_section .team_container .box .img-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team_section .team_container .box .img-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 120%;
  height: 75%;
  border-radius: 25px;
  -webkit-transform: translateX(-52.5%) rotate(-15deg);
          transform: translateX(-52.5%) rotate(-15deg);
  background-color: #041858;
}

.team_section .team_container .box .detail-box {
  margin-top: 15px;
}

.team_section .team_container .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

/* .team_section .team_container .box.b-2 {
  margin-top: 130px;
}

.team_section .team_container .box.b-3 {
  margin-top: 230px;
} */

.team_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
}

.team_section .btn-box a:hover {
  background-color: #e0cd61;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 45px;
}

.client_section .box .img-box img {
  max-width: 100%;
}

.client_section .box .detail-box {
  margin-top: 20px;
}

.client_section .box .detail-box h6 {
  font-size: 18px;
  font-weight: bold;
}

.client_section .carousel_btn-container {
  width: 100px;
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 15%;
  z-index: 999;
}

.client_section .carousel_btn-container .carousel-control-prev,
.client_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: #d8bf36;
}

.client_section .carousel_btn-container .carousel-control-prev:hover,
.client_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #041858;
}

.client_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev-white.png);
}

.client_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next-white.png);
}


/* KONTAK KAMI */
.kontak_section .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color:black;
}

.kontak_section .card:hover {
  transform: translateY(-5px);
  /* Mengangkat card ke atas */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Efek bayangan */
  
}

.kontak_section .card-body {
  transition: color 0.3s ease;
}

.kontak_section .card:hover .card-body h5 {
  color: #007bff;
  /* Ubah warna judul saat hover */
}

.kontak_section .card:hover svg {

  /* Sedikit memutar icon saat hover */
  transition: transform 0.3s ease;
}

.kontak_section .card:hover i {
  transform: scale(1.2);
  /* Perbesar icon sedikit saat hover */
  transition: transform 0.3s ease;
}


.footer_bg {
 background-color: var(--biru-latar);
  background-size: cover;
  background-position: right top;
  /* padding-top: 50px; */
}

.contact_section {
  color: #ffffff;
}

.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.contact_section form .form-control {
  border: none;
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px;
  padding-left: 20px;
  height: 45px;
  margin: 5px 0;
}

.contact_section button {
  display: inline-block;
  padding: 8px 35px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
}

.contact_section button:hover {
  background-color: #e0cd61;
}

.info_section {
  color: #ffffff;
}

.info_section p {
  color: #9c9c9c;
}

.info_section .info_logo h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.info_section .info_contact a p {
  color: #9c9c9c;
}

.info_section .info_contact a:hover p {
  color: #ffffff;
}

.info_section .info_contact a img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_links ul {
  padding-left: 15px;
}

.info_section .info_links ul li {
  list-style-type: none;
  margin: 5px 0;
}

.info_section .info_links ul li a {
  color: #9c9c9c;
  position: relative;
}

.info_section .info_links ul li a::before {
  display: none;
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #d8bf36;
}

.info_section .info_links ul li a:hover {
  color: #ffffff;
}

.info_section .info_links ul li.active a {
  color: #ffffff;
}

.info_section .info_links ul li.active a::before {
  display: block;
}

.info_section .info_form form {
  margin-top: 20px;
}

.info_section .info_form form input {
  border: 1px solid #a6adc4;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 7px 10px;
  color: #ffffff;
}

.info_section .info_form form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.info_section .info_form form input::placeholder {
  color: #9c9c9c;
}

.info_section .info_form form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #d8bf36;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  width: 100%;
}

.info_section .info_form form button:hover {
  background-color: #e0cd61;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
}

.info_section .info_form .social_box a {
  margin-right: 25px;
}

.info_section .info_form .social_box a svg{
  color: #9c9c9c;
}

.info_section .info_form .social_box a svg:hover{
  color: #ffffff;
}


/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */



/* NAV TABS GALERI */
.nav1 {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav1 .nav-link {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.nav1 .nav-link:hover {
  color: #fff;
  background-color:var(--kuning-secondary);
  border-color:var(--kuning-secondary);
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.nav1 .nav-link.active {
  color: #fff;
  background-color: var(--biru-latar);
  border-color: var(--biru-latar);
  box-shadow: 0 4px 15px rgba(40, 167, 69, 0.3);
}

.nav1 .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--kuning-secondary);
  transition: width 0.3s ease;
}

.nav1 .nav-link:hover::after,
.nav1 .nav-link.active::after {
  width: 50%;
}


@media (max-width: 768px) {
   .nav1 {
      flex-wrap: wrap;
  }

  .nav1 .nav-link {
      width: calc(50% - 10px);
      margin-bottom: 10px;
  }
}


/* FOTO PENGuRUS */
.image-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999;
  overflow: auto;
}

.modal-pengurus {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  text-align: center;
  background:transparent;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.modal-pengurus img {
  max-width: 100%;
  max-height: 80vh;
  transition: transform 0.3s ease;
  object-fit: contain; 
}

.close-modal {
  position: absolute;
  right: 25px;
  top: 25px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000000;
}

.zoom-controls {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index:10000000;
}

.zoom-btn {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.zoom-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.zoom-btn i {
  font-size: 18px;
}



/* FAQ */

.border-faq {
  border: 0.01px solid rgb(81, 82, 82); 
  border-radius: 10px; 
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.border-faq:hover {
  border: 1px solid rgb(81, 82, 82); /* Ketebalan 5px, warna biru */
  border-radius: 10px; /* Sudut melengkung opsional */
  transform: scale(1.01); /* Membesar sedikit */
  box-shadow: 0 8px 15px rgba(81, 82, 82, 0.4); 
}
.tombol-lebih-lanjut-faq {
  background: var(--kuning-secondary);
  width: 200px;
  height: 50px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Menentukan transisi */
}

.tombol-lebih-lanjut-faq:hover {
  background: var(--biru-latar);
  color: white;
  transform: scale(1.1); /* Efek membesar saat hover */
}


/* BARANG */
.barang_section .container{
  margin-top:110px;
}

.barang_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barang_section .container .tab-content .tab-pane .row{
  /* gap:10px; */
  padding-vertical:10px;
}

.category-tabs {
  display:flex;
  justify-content :center;
}

.category-tabs .nav-item{
  width:290px;
  padding:10px;
}


.category-tabs .nav-link {
  border-radius: 8px;
  margin-right: 10px;
  color: white;
  padding: 10px 30px;
  background:var(--biru-latar);
  transition:background 0.5s ease;
}
.category-tabs .nav-link:hover {
  /* background:rgb(0, 44, 188);  */
  background:var(--kuning-secondary); 
}

.category-tabs .nav-link.active {
  font-weight:600;
  background:var(--kuning-secondary);
}


.product-card {
  transition: transform 0.2s;
  height: 100%;
  cursor:pointer;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.product-img {
  height: 200px;
  object-fit: contain;
}
.category-badge {
  font-size: 0.8rem;
}
.city-badge {
  font-size: 0.75rem;
}

.pagination-barang .page-item:active .page-link {
  background:var(--biru-latar) !important;
  color:white;
  
}

/* scroll bar barang */
.btn-secondary{
  background-color: rgba(0, 0, 0, 0.1); 
  border:none;
  padding:10px;
}

.scrollable-tabs {
flex-wrap: nowrap;
overflow-x: auto;
overflow-y: hidden;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.scrollable-tabs .nav-item {
white-space: nowrap;
}

.scrollable-tabs::-webkit-scrollbar {
display: none;
}
/* end scroll bar barang */



/* BARANG DETAIL */
.product-thumbnail {
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-thumbnail.active {
  border: 2px solid #007bff;
}

.main-image-barang {
  overflow: hidden;
  object-fit:cover;
}

#main-product-image {
  transition: transform 0.3s ease;
}

.product-title {
  font-weight: bold;
  color: #333;
}
.rating-terjual{
  font-size: 22px;
}

.size-selection .btn-group .btn,
.color-selection .btn-group .btn {
  padding: 0.5rem 1.5rem;
}

.additional-info {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.25rem;
}

.product-description {
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
}

.action-buttons {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 1rem 0;
  border-top: 1px;
}

.thumbnail-images {
  position: relative;
}

.thumbnail-images img {
  height:120px;
  object-fit:cover;
}

.thumbnail-images .btn-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 10px;
  z-index: 1;
}
.thumbnail-images .btn-nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px;
  z-index: 1;
}

.thumbnail-images .btn-prev {
  left: 0;
}

.thumbnail-images .btn-next {
  right: 0;
}

.thumbnail-images .col {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.thumbnail-images .col::-webkit-scrollbar {
  display: none;
}

.modal-dialog {
  max-width: 500px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.modal-form-peminjaman{
  z-index: 999999;
}

.modal-form-peminjaman .modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 1rem;
}